mixin footer()
	+b.FOOTER.footer
		.container
			.row
				.col-lg-6
					+logo()
					+e.content
						p 101000, Москва, Сверчков переулок&nbsp;15
						a(href="mailto:info@ideal.ru") info@ideal.ru
						a(href="tel:89000000000") 8 900 000-00-00
					+e.P.copyright &copy;&nbsp;ООО &laquo;Идеал&raquo; 2021
				.col
					+e.inner-pages
						a(href="#").h6 Американская классика
						a(href="#").h6 Амстердам
						a(href="#").h6 Берлин
						a(href="#").h6 Гавана
					+e.made
						+icon('coalla-logo')
						p Сделано в Coalla Agency
				.col
					+e.inner-pages
						a(href="#").h6 Париж
						a(href="#").h6 Стокгольм
						a(href="#").h6 Санкт-Петербург
				.col-auto
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Условия работы
						li
							a(href="#") Новости
						li
							a(href="#") Контакты