.footer {
	padding-top: rem(9);
	padding-bottom: rem(22);

	&__content {
		display: flex;
		flex-direction: column;
		p, a{
			margin-bottom: rem(4);
			color: $body-color;
			opacity: 0.6;
		}
		a {
			&:hover {
				opacity: 1;
			}
		}
	}
	.logo {
		margin-bottom: rem(24);
		display: block;
	}
	&__copyright {
		margin-top: rem(60);
		opacity: 0.3;
	}
	&__inner-pages {
		display: flex;
		flex-direction: column;
		a {
			color: $body-color;
			margin-bottom: rem(4);
		}
	}
	ul {
		list-style-type: none;
		margin-bottom: rem(4);
		li{
			margin-bottom: rem(4);
		}
		a {
			color: $body-color;
			opacity: 0.7;
			&:hover {
				opacity: 1;
			}
		}
	}
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
