mixin sAmericanBody(data)
	// start sAmericanBody
	+b.sAmericanBody.section#sAmericanBody&attributes(attributes)
		+e.container.container
			.row
				.col-lg-7
					+pic('sAmerican-img-3.jpg', 'bg').sAmericanBody__img.wow.animate__animated.animate__backInLeft
					+e.img-wrap.wow.animate__animated.animate__fadeInUp
						+pic('sAmerican-img-3.jpg', 'bg')
				.col-lg-5 
					+e.P.text.wow.animate__animated.animate__backInRight Несмотря на&nbsp;то, что этому стилю свойственна функциональность и&nbsp;каждый свободный угол используется с&nbsp;пользой, дизайнерам удается сохранить &laquo;воздух&raquo; в&nbsp;интерьере. Пространство получается незагруженным, свободным, есть, где пройти, поставить елку и&nbsp;сделать общее фото на&nbsp;праздник. Основной прием, который позволяет это сделать,&nbsp;&mdash; деление на&nbsp;зоны.
	// end sAmericanBody