
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h5 Обратный звонок
				+e.row.row
					.col-lg-12
						+e.input-wrap
							+input("ФИО", 'text')(required)
							+e.required.text-gray-medium *
					.col-lg-6
						+e.input-wrap
							+input("Электронная почта", 'email')(required)
							+e.required.text-gray-medium *
					.col-lg-6
						+e.input-wrap
							+input("+7 (     )   -   -   ", 'tel')(required)
							+e.required.text-gray-medium *
					.col-lg-6
						+e.input-wrap
							+input("Площать помещения м2", 'text')(required)
							+e.required.text-gray-medium *
					.col-lg-6
						+e.input-wrap
							+input("Назначение помещения", 'text')(required)
							+e.required.text-gray-medium *
					+e.col-textarea.col-lg-12
						+input("Напишите дополнительную информацию", 'textarea')
					+e.col-textarea.col-lg-12.mt-3
						input.filepond(type='file' name='filepond' multiple='' data-allow-reorder='true' data-max-file-size='3MB' data-max-files='3')
					.col-lg-12.text-center
						+e.BUTTON.btn.btn(type="submit") Отправить
					.col
						+e.P.text Нажимая кнопку «Отправить», я даю свое согласие<br>на обработку своих #[a(href="#") персональных данных]
	// #modal-call
	
	// end modals