mixin sPetersburgInfo(data)
	// start sPetersburgInfo
	+b.SECTION.sPetersburgInfo.section#sPetersburgInfo&attributes(attributes)
		+e.container.container-fluid
			.row
				.col-6.col-lg-4
					+pic(`saint-petersburg-img-${data.img1}.jpg`, 'bg').wow.animate__animated.animate__fadeInUp
				.col-6.col-lg-4
					+pic(`saint-petersburg-img-${data.img2}.jpg`, 'bg').wow.animate__animated.animate__fadeInUp
				.col-lg-4
					p.wow.animate__animated.animate__fadeInUp!= data.text
	// end sPetersburgInfo