mixin sAboutCompanyInfo(data)
	// start sAboutCompanyInfo
	+b.SECTION.sAboutCompanyInfo.section#sAboutCompanyInfo&attributes(attributes)
		+e.info
			.container
				+e.row.row
					+e.col.col-lg.wow.animate__fadeInUp
						h3 Как небольшая отмеченная наградами творческа студия, мы специализируемся на&nbsp;возвышение пространств и&nbsp;интерьеров.
						p В&nbsp;вашем доме будет так много различных произведений искусства, смешанных с&nbsp;высококачественными индивидуальными предметами , что вы&nbsp;почувствуете, что совершаете частную экскурсию по&nbsp;музею! Пандемический кризис изменил нашу жизнь&nbsp;и... наш дом. Домашние офисы , вероятно, являются самыми посещаемыми комнатами в&nbsp;этом году, и&nbsp;этот полностью черный роскошный домашний офис будет держать вас в&nbsp;тонусе! Торшер S&nbsp;tanley станет идеальным офисным светильником. В&nbsp;вашем доме будет так много различных произведений искусства, смешанных с&nbsp;высококачественными индивидуальными предметами , что вы&nbsp;почувствуете, что совершаете частную экскурсию по&nbsp;музею! Пандемический кризис изменил нашу жизнь&nbsp;и... наш дом. Домашние офисы , вероятно, являются самыми посещаемыми комнатами в&nbsp;этом году, и&nbsp;этот полностью черный роскошный домашний офис будет держать вас в&nbsp;тонусе! Торшер S&nbsp;tanley станет идеальным офисным светильником.
					.col-lg.wow.animate__fadeInUp
						+pic('sAboutCompanyInfo-img-1.jpg')
		+e.info--bg
			.container
				+e.row.row
					.col-lg.order-last.order-lg-first.wow.animate__fadeInUp
						+pic('sAboutCompanyInfo-img-1.jpg')
					+e.col.col-lg.wow.animate__fadeInUp
						h3 Для нас цель дизайна интерьера не&nbsp;обязательно отражать дух времени, а&nbsp;реагировать на&nbsp;него и&nbsp;создавать решения.
						p В&nbsp;вашем доме будет так много различных произведений искусства, смешанных с&nbsp;высококачественными индивидуальными предметами , что вы&nbsp;почувствуете, что совершаете частную экскурсию по&nbsp;музею! Пандемический кризис изменил нашу жизнь&nbsp;и... наш дом. Домашние офисы , вероятно, являются самыми посещаемыми комнатами в&nbsp;этом году, и&nbsp;этот полностью черный роскошный домашний офис будет держать вас в&nbsp;тонусе! Торшер S&nbsp;tanley станет идеальным офисным светильником. В&nbsp;вашем доме будет так много различных произведений искусства, смешанных с&nbsp;высококачественными индивидуальными предметами , что вы&nbsp;почувствуете, что совершаете частную экскурсию по&nbsp;музею! Пандемический кризис изменил нашу жизнь&nbsp;и... наш дом. Домашние офисы , вероятно, являются самыми посещаемыми комнатами в&nbsp;этом году, и&nbsp;этот полностью черный роскошный домашний офис будет держать вас в&nbsp;тонусе! Торшер S&nbsp;tanley станет идеальным офисным светильником.
	// end sAboutCompanyInfo