mixin sAmericanContent(data)
	// start sAmericanContent
	+b.sAmericanContent--js.section&attributes(attributes)
		+pic('sAmerican-img-2.jpg', 'bg').sAmericanContent__bg
		+e.wrap
			+e.wrap2
				+pic('sAmerican-img-2.jpg', 'bg')
				p Когда вы&nbsp;слышите про дом американской домохозяйки, у&nbsp;вас в&nbsp;голове всплывает четкая картинка, которую можно описать. Это большое пространство, которое разделено на&nbsp;зоны, где приятно проводить время, устраивать званые обеды и&nbsp;сидеть вечерами у&nbsp;камину в&nbsp;кругу семьи. Простор и&nbsp;зонирование&nbsp;&mdash; это основные черты американской классики.
	// end sAmericanContent

mixin sAmericanContent2(data)
	// start sAmericanContent
	+b.sAmericanContent--js2.section&attributes(attributes)
		+e.wrap
			+e.wrap2
				+pic('sAmerican-img-4.jpg', 'bg')
				p Американская классика предполагает, что между кухней, столовой и&nbsp;гостиной в&nbsp;принципе может не&nbsp;быть дверей или перегородок. Разделение происходит с&nbsp;помощью нескольких приемов: разной отделки, разного освещения и&nbsp;использования разных фактур.
		+pic('sAmerican-img-4.jpg', 'bg').sAmericanContent__bg
	// end sAmericanContent
	//- +b.sAmericanContent
	

mixin sAmericanContent3(data)
	// start sAmericanContent
	+b.sAmericanContent--js3.section&attributes(attributes)
		+pic('sAmerican-img-5.jpg', 'bg').sAmericanContent__picture
		+e.wrap
			+e.wrap2
				+pic('sAmerican-img-6.jpg', 'bg')
				p В&nbsp;качестве основного материала для отделки используется дерево. В&nbsp;стиль американской классики хорошо вписываются винтажная мебель и&nbsp;ковры&nbsp;&mdash; они гармонично сочетаются с&nbsp;деревянными дверями, лестницами и&nbsp;полом. Основной декор расположен на&nbsp;стенах: это картины с&nbsp;узнаваемыми героями и&nbsp;классическими сюжетами или полки с&nbsp;декоративными вещицами и&nbsp;коллекциями предметов.
		+pic('sAmerican-img-6.jpg', 'bg').sAmericanContent__bg
	// end sAmericanContent

mixin sAmericanContent4(data)
	// start sAmericanContent
	+b.sAmericanContent--js4.section&attributes(attributes)
		+pic('sAmerican-img-8.jpg', 'bg').sAmericanContent__picture
		+e.wrap
			+e.wrap2
				p  Еще одна сложность, с&nbsp;которой вы&nbsp;можете столкнуться,&nbsp;&mdash; сочетание цветов. Зоны можно разделить цветами, но&nbsp;если у&nbsp;вас есть три расположенные рядом зоны (например, кухня с&nbsp;переходом в&nbsp;прихожую, а&nbsp;из&nbsp;нее&nbsp;&mdash; в&nbsp;гостиную), нужно, чтобы они все сочетались между собой. Здесь не&nbsp;пойдет покрасить стены в&nbsp;белый, бежевый и&nbsp;коричневый или наоборот&nbsp;&mdash; в&nbsp;красный, синий и&nbsp;зеленый. Зонирование требует тщательного продумывания деталей и&nbsp;сочетаний и&nbsp;тонкого вкуса. Цвета американской классики&nbsp;&mdash; матовые, спокойные, не&nbsp;кричащие. Здесь превалирует однотон и&nbsp;никаких акцентных стен и&nbsp;оформлений. Попробуйте расставить акценты приглушенными цветами и&nbsp;поймете, что это не&nbsp;так уж&nbsp;просто.<br>Не&nbsp;самая простая задача встает перед вами и&nbsp;тогда, когда наступает этап выбора мебели. Чтобы кровати и&nbsp;комоды вписывались в&nbsp;общий стиль, они не&nbsp;должны уходить в&nbsp;минималистичный скандинавский стиль или в&nbsp;современный древесно-эпоксидный тренд. Это должны быть классические предметы мебели, похожие на&nbsp;те, что были популярны десятилетия назад.
		+pic('sAmerican-img-9.jpg', 'bg').sAmericanContent__bg
	// end sAmericanContent

mixin sAmericanContent5(data)
	// start sAmericanContent
	+b.sAmericanContent--js5.section&attributes(attributes)
		+e.wrap
			+pic('sAmerican-img-11.jpg', 'bg')
			p Что входит в&nbsp;такой проект? Наши дизайнеры полностью разработают дизайн интерьера, продумают его до&nbsp;самых мелочей, а&nbsp;также придумаем. Мы&nbsp;сами найдем и&nbsp;купим все нужные материалы и&nbsp;достанем самую качественную мебель, чтобы вы&nbsp;не&nbsp;ездили по&nbsp;городу в&nbsp;поисках нужных элементов декора. Наши строители качественно и&nbsp;в&nbsp;срок проведут отделочные работы, а&nbsp;сантехники и&nbsp;другие специалисты монтируют всю необходимую технику.<br>Мы&nbsp;составляем график работ, которому неукоснительно следуем. При этом, в&nbsp;график включаем не&nbsp;только сроки этапов ремонта, но&nbsp;также и&nbsp;этапы закупки и&nbsp;доставки материалов к&nbsp;каждому новому этапу работы. За&nbsp;всем процессом вы&nbsp;сможете следить в&nbsp;личном кабинете.<br>Пусть мечта станет реальностью&nbsp;&mdash; мы&nbsp;вам в&nbsp;этом поможем
		+pic('sAmerican-img-11.jpg', 'bg').sAmericanContent__bg
	// end sAmericanContent