mixin sAmericanContent(data)
	// start sAmericanContent
	+b.sAmericanContent--js.section#sAmericanContent&attributes(attributes)
		+pic('sAmerican-img-2.jpg', 'bg').sAmericanContent__bg
		+e.wrap
			+pic('sAmerican-img-2.jpg', 'bg')
			p Когда вы&nbsp;слышите про дом американской домохозяйки, у&nbsp;вас в&nbsp;голове всплывает четкая картинка, которую можно описать. Это большое пространство, которое разделено на&nbsp;зоны, где приятно проводить время, устраивать званые обеды и&nbsp;сидеть вечерами у&nbsp;камину в&nbsp;кругу семьи. Простор и&nbsp;зонирование&nbsp;&mdash; это основные черты американской классики.
	// end sAmericanContent

mixin sAmericanContent2(data)
	// start sAmericanContent
	+b.sAmericanContent--js2.section#sAmericanContent&attributes(attributes)
		+e.wrap
			+pic('sAmerican-img-4.jpg', 'bg')
			p Американская классика предполагает, что между кухней, столовой и&nbsp;гостиной в&nbsp;принципе может не&nbsp;быть дверей или перегородок. Разделение происходит с&nbsp;помощью нескольких приемов: разной отделки, разного освещения и&nbsp;использования разных фактур.
		+pic('sAmerican-img-4.jpg', 'bg').sAmericanContent__bg
		+pic('sAmerican-img-5.jpg', 'bg').sAmericanContent__section-picture
	// end sAmericanContent

mixin sAmericanContent3(data)
	// start sAmericanContent
	+b.sAmericanContent--js3.section#sAmericanContent&attributes(attributes)
		+e.wrap
			+pic('sAmerican-img-6.jpg', 'bg')
			p В&nbsp;качестве основного материала для отделки используется дерево. В&nbsp;стиль американской классики хорошо вписываются винтажная мебель и&nbsp;ковры&nbsp;&mdash; они гармонично сочетаются с&nbsp;деревянными дверями, лестницами и&nbsp;полом. Основной декор расположен на&nbsp;стенах: это картины с&nbsp;узнаваемыми героями и&nbsp;классическими сюжетами или полки с&nbsp;декоративными вещицами и&nbsp;коллекциями предметов.
		+pic('sAmerican-img-6.jpg', 'bg').sAmericanContent__bg
	// end sAmericanContent