mixin sConditions(data)
	// start sConditions
	+b.SECTION.sConditions.section#sConditions&attributes(attributes)
		.container-fluid
			+e.row.row
				+e.col-left-side.col-6.wow.animate__animated.animate__fadeInUp
					+b.sCards
						+e.wrap
							+e.textwrap
								p Этап 1
								h4 Возвышение пространств<br>и интерьеров
								p Как небольшая отмеченная наградами творческа студия,<br>мы&nbsp;специализируемся на&nbsp;возвышение пространств и&nbsp;интерьеров.
							+e.content--1
								+img(`cards-img-1.png`).cards-img-1
								+img(`cards-img-2.png`).cards-img-2
								+img(`cards-img-3.png`).cards-img-3
								+img(`cards-img-4.png`).cards-img-4
				+e.col-right-side.col-6
					p 123123
	// end sConditions