mixin sStockholmBody(data)
	// start sStockholmBody
	+b.sStockholmBody.section#sStockholmBody&attributes(attributes)
		+e.content
			.container
				+e.P.text.wow.animate__fadeInUp Скандинавский стиль в&nbsp;оформлении квартиры&nbsp;&mdash; это уютное, теплое и&nbsp;греющее душу явление, мимо которого не&nbsp;пройдет ни&nbsp;один любитель посидеть вечером с&nbsp;чашкой кофе за&nbsp;чтением полезной и&nbsp;интересной книги.<br>Интересно, что стокгольмский стиль и&nbsp;хюгге&nbsp;&mdash; это не&nbsp;совсем одно и&nbsp;то&nbsp;же. Хюгге более расслабленный, обволакивающий, Стокгольм&nbsp;же&nbsp;&mdash; более строгий и&nbsp;лаконичный. Но&nbsp;при этом, конечно, стокгольмский дизайн включает в&nbsp;себя все основные черты скандинавских стилей.
		+e.content--bg
			+e.container.container
				+e.row.row
					.col-lg-7
						+pic('sStockholm-img-2.jpg', 'bg').pic-sm.wow.animate__fadeInUp
					.col-lg-5 
						p.wow.animate__fadeInUp Главное, что нужно помнить о&nbsp;скандинавском стиле&nbsp;&mdash; то, то&nbsp;здесь используются натуральные материалы и&nbsp;цвета. Основа, конечно&nbsp;же, дерево. Стокгольмский стиль диктует массивные конструкции: шкафы и&nbsp;двери с&nbsp;большими стеклянными вставками, окна в&nbsp;пол, столы с&nbsp;ящиками или сплошными ножками, внушительные диваны и&nbsp;мягкие кресла в&nbsp;классическом стиле.
					.col-lg-7
						+pic('sStockholm-img-3.jpg', 'bg').pic-sm.wow.animate__fadeInUp
					.col-lg-5 
						p.wow.animate__fadeInUp Чтобы не&nbsp;перегружать пространство, в&nbsp;стокгольмском дизайне используется один цветовой тон, который повторяется в&nbsp;разных фактурах. Цвета тоже берутся натуральные. Вы&nbsp;не&nbsp;увидите яркой отделки или кричащих контрастов. Зато в&nbsp;этом дизайне будут приглушенные розовые, голубые, мятные коралловые и&nbsp;другие мягкие оттенки. Даже если предполагается акцент, то&nbsp;он&nbsp;все равно будет матовым: светлый коричневый, бледный желтый, неброский оранжевый. В&nbsp;качестве акцентов также могут выступать текстурные элементы, например, лепнина на&nbsp;потолке или ковер с&nbsp;объемным рисунком.
		+e.content
			.container
				+e.P.text.wow.animate__fadeInUp Мебель для стокгольмского стиля массивная, но&nbsp;утяжеляющая пространство вокруг себя. Хорошо вписывается сюда винтаж, искусственно состаренное дерево. Только не&nbsp;каждый элемент, как в&nbsp;шеби-шик, а&nbsp;отдельные предметы мебели: только стулья или только комод. Немного облегчить пространство и&nbsp;придать ему жизни помогают высокие растения в&nbsp;горшках, которые часто выступают элементом декора в&nbsp;этом стиле.
				+e.pic-wrap 
					+pic('sStockholm-img-4.jpg', 'bg').pic-lg.wow.animate__fadeInUp
					+pic('sStockholm-img-5.jpg', 'bg').pic-lg.wow.animate__fadeInUp
					+pic('sStockholm-img-6.jpg', 'bg').pic-lg.wow.animate__fadeInUp
		+e.content--bg
			+e.container.container
				+e.row.row
					.col-lg-7
						+pic('sStockholm-img-7.jpg', 'bg').pic-sm.wow.animate__fadeInUp
					.col-lg-5 
						p.wow.animate__fadeInUp Растительная тема продолжает тему натуральности, и&nbsp;не&nbsp;только непосредственно цветы и&nbsp;зелень можно встретить в&nbsp;скандинавских квартирах, но&nbsp;и&nbsp;картины и&nbsp;плакаты с&nbsp;изображениями растительной тематики.
					.col-lg-7
						+pic('sStockholm-img-8.jpg', 'bg').pic-sm.wow.animate__fadeInUp
					.col-lg-5 
						p.wow.animate__fadeInUp В&nbsp;оформлении дизайна в&nbsp;стокгольмском стиле можно столкнуться с&nbsp;некоторыми трудностями. Один из&nbsp;характерных признаков такого стиля&nbsp;&mdash; это обилие текстиля. Тяжелые шторы, скатерти, подушки и&nbsp;чехлы для мебели плохо соседствуют между собой, если их&nbsp;выбирает не&nbsp;специалист. Дизайнеры умеют сочетать эти элементы так, чтобы комната не&nbsp;превратилась в&nbsp;подобие домика тряпичной куклы.
		+e.content--indent
			.container
				+e.P.text.wow.animate__fadeInUp Другая сложность связана с&nbsp;тем, что не&nbsp;всегда бывает просто выдержать интерьер в&nbsp;одном цвете. Как&nbsp;же придать индивидуальность помещению, в&nbsp;котором преобладает всего один цвет? Ответ прост&nbsp;&mdash; доверить это дело профессионалам.
				+pic('sStockholm-img-9.jpg', 'bg').pic-lg.wow.animate__fadeInUp
				+e.row.row
					.col-lg-7
						+pic('sStockholm-img-10.jpg', 'bg').pic-sm.wow.animate__fadeInUp
					.col-lg-5 
						p.wow.animate__fadeInUp Этот стиль подойдет тем, кто не&nbsp;любит суетиться и&nbsp;ценит каждую минуту, проведенную в&nbsp;уютной домашней обстановке. Чтобы не&nbsp;тратить время и&nbsp;нервы на&nbsp;бесконечную езду в&nbsp;поисках нужных материалов, бесконечные правки в&nbsp;проект и&nbsp;споры с&nbsp;недобросовестными работниками, закажите дизайн-проект &laquo;под ключ&raquo;. Мы&nbsp;сделаем всю работу за&nbsp;вас&nbsp;&mdash; вам останется только проводить вечера в&nbsp;кресле под пледом с&nbsp;чашкой горячего чая.
					.col-lg-7
						+pic('sStockholm-img-11.jpg', 'bg').pic-sm.wow.animate__fadeInUp
					.col-lg-5 
						p.wow.animate__fadeInUp Заказав дизайн-проект “под ключ”, вы получите полностью согласованный график работ, подробный договор и большую команду людей, которая добросовестно выполнит всю нужную работу от планировки до установки сантехники. Мы составим дизайн-проект, закупим все нужные материалы, сделаем ремонт и обставим квартиру согласно заданию. Мы не будем тянуть со сроками и использовать глупые отговорки, а за всеми этапами реализации можно будет следить в личном кабинете в нашем приложении.<br>Перед заключением договора мы скрупулезно высчитываем стоимость проекта и вносим в договор итоговую цену, которая больше не будет меняться. В эту цену входят все расходные материалы и работы. Попробуйте рассчитать предварительную стоимость проекта, чтобы знать, какая сумма может быть прописана в договоре.<br>Мы поможем воплотить скандинавскую мечту в реальность
				+pic('sStockholm-img-12.jpg', 'bg').pic-lg.wow.animate__fadeInUp
	// end sStockholmBody