mixin sStockholmBody(data)
	// start sStockholmBody
	+b.sStockholmBody.section#sStockholmBody&attributes(attributes)
		+e.content
			.container
				+e.P.text Скандинавский стиль в&nbsp;оформлении квартиры&nbsp;&mdash; это уютное, теплое и&nbsp;греющее душу явление, мимо которого не&nbsp;пройдет ни&nbsp;один любитель посидеть вечером с&nbsp;чашкой кофе за&nbsp;чтением полезной и&nbsp;интересной книги.<br>Интересно, что стокгольмский стиль и&nbsp;хюгге&nbsp;&mdash; это не&nbsp;совсем одно и&nbsp;то&nbsp;же. Хюгге более расслабленный, обволакивающий, Стокгольм&nbsp;же&nbsp;&mdash; более строгий и&nbsp;лаконичный. Но&nbsp;при этом, конечно, стокгольмский дизайн включает в&nbsp;себя все основные черты скандинавских стилей.
		+e.content
	// end sStockholmBody