mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.headerBlock-inner
			+b.firstScreen
				+e.wrap
					+e.slider--js.swiper
						.swiper-wrapper
							//- -for(i=0; i<3; i++)
							+e.slide.swiper-slide
								img(src="img/@2x/header-bg-1.jpg", alt="")
							+e.slide.swiper-slide
								img(src="img/@2x/header-bg-3.jpg", alt="")
				.container
					+b.section-title--js.text-center
						h1 Готовые решения интерьера квартир
						p Применим к&nbsp;любой площади квартиры и&nbsp;планировке заказчика
						+e.BUTTON.btn--js.btn 
							| Выбрать решение
							+e.btnIcon
								+icon('chevron-down')
			+b.secondScreen
				+e.slider--js.swiper
					.swiper-wrapper
						mixin slide(i, t='Берлин')
							+e.slide.swiper-slide.bg-wrap
								+img(i, 'bg').picture-bg
								.container
									+b.section-title--js2.text-center
										h2= t
										p Ни&nbsp;одна деталь не&nbsp;будет лишней, у&nbsp;каждой мелочи&nbsp;&mdash; свой функционал, только простые и&nbsp;лаконичные формы.
										a(href="#").btn.btn-outline-primary Подробнее
						+slide("header-bg-2.jpg")
						+slide("content-paris-bg.jpg",'Париж')
						+slide("content-paris-bg.jpg",'Париж')
					+arrow()
					.swiper-pagination
	// end headerBlock