mixin iwrap(i)
	+e.img-wrap
		+b.preload-block
			+e.slide
		+img(i)
mixin am-content2(data)
	// start am-content2
	+b.am-content2&attributes(attributes)
		.row.g-0
			+e.col.col
				+b.am-text--dark.--first-symbol2
					.wow.fadeInUp: p  Как достичь такого эффекта? Сделать отделку непримечательной, а в качестве ярких деталей и акцентов использовать мебель и текстиль. Чтобы детали не были кричащими и не разрушали целостность интерьера, используют приглушенные, но насыщенные цвета: баклажановый,  з  изумрудный, коралловый.  Мебель в амстердамском стиле закрытая, глухая, никаких стеклянных дверц и резных ручек. Здесь шкафы и тумбы выступают функциональным предметом, который вписан в интерьер, а не самостоятельной частью интерьера.  У этого дизайна есть одна интересная особенность: в него можно вписать детали наивного стиля, и они будут смотреться гармонично. Например, повесить на стену детские рисунки или панно, сделанное своими руками. Или найти стилизованные картинки. Такие элементы делают интерьер уютным и аутентичным.
				.row.d-none.d-lg-block
					+e.col--color.--lg.col-auto
			+e.col--sm.col-md-auto.col-aside
				+iwrap('am-2.jpg') 
			+e.col--color.--lg.col-lg-auto.d-lg-none 
		.row.g-0
			+e.col.col-lg
				+e.img-wrap--lg
					+b.preload-block
						+e.slide
					+img('am-4.jpg') 
			+e.col--sm.col-md-auto.col-aside
				+b.am-text
					.wow.fadeInUp: p  Как сделать интерьер не скучным и эффектным? Ответы на эти вопросы знают профессиональные дизайнеры. Специалисты сумеют создать стиль из простых бежевых обоев и фиолетового стула. Другой непростой момент кроется в эклектичности стиля. Несмотря на то, что он кажется простым и понятным, в нем содержится много элементов, которые плохо сочетаются между собой, если этим занимается не профессионал. Только грамотные дизайнеры смогут соединить в одном интерьере хай-тек и классику. 
			.col-12
			.col
			+e.col--color.--lg.col-lg-auto.col-aside
	// end am-content2
mixin am-content22(data)
	// start am-content2
	+b.am-content2--3&attributes(attributes)
		.row.g-0
			+e.col.col
				+b.am-text.--first-symbol2
					.wow.fadeInUp: p Если вам понравился такой стиль в дизайне интерьера, но вы боитесь, что не сможете реализовать его самостоятельно, закажите дизайн-проект “под ключ”. Опытные дизайнеры смогут составить для вас проект, в котором будут сочетаться все нужные детали, а стиль будет выдержан  безупречно. Но это не все: в проектах “под ключ” участвуют не только дизайнеры, но и другие специалисты, которые полностью сделают ремонт и установят все необходимые системы с нуля.  Мы предоставим вам не только дизайн-проект, но и полную смету, список материалов и график работ. Хорошая новость в том, что вам не придется ездить по магазинам и закупать все самим: планирование и закупки мы берем на себя. Также мы берем на себя всю логистику и доставку материалов до стройки на необходимом этапе. Чтобы вы не тратили время на постоянные поездки и проверки, вы можете следить за процессом из личного кабинета в приложении. Там будут отмечены этапы работы, график их выполнения и оповещения о завершении. 
			+e.col--sm.col-md-auto.col-aside
				+e.img-wrap--sm 
					+b.preload-block
						+e.slide
					+img('am-6.jpg') 
			.col-12
			+e.col--color.--lg.col-lg-auto
			.col-12
			+e.col--sm.col-md-auto.col-aside
				+b.am-text--dark
					.wow.fadeInUp: p Все расчеты мы проводим сами и предоставляем вам полную информацию о предстоящих тратах. Сумму мы фиксируем в договоре, и она остается неизменной от начала до окончания работ, никаких дополнительных взносов не понадобится. Чтобы принять решение, рассчитайте предварительную стоимость будущего проекта. Впустите в свою жизнь голландский минимализм и уют семейного тепла
			+e.col.col-md
				+iwrap('am-7.jpg') 
			.col-12
			+e.col--color.--lg.col-lg-auto.ms-auto
	// end am-content2