extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sParisContentBody/_sParisContentBody.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Париж'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
	//- +topLine
	+top-nav()
	//- +headerBlock
	+page-head({
		img: 'content-paris-bg.jpg',
		title: 'Париж',
		text: 'Это смелый арт-деко, который собрал в&nbsp;себе влияние модерна, немецких<br>художников и&nbsp;русского конструктивизма.'
	})
	+sParisContentBody
	+sCards
	+secondScreen('true')
	//- +sContact()
	
	+footer()
      



