extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sBerlinContentBody/_sBerlinContentBody.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= '03-content-berlin.jpg'

block title
	- let  title= 'Берлин'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
	//- +topLine
	+top-nav()
	//- +headerBlock
	+page-head({
		img: 'header-bg-2.jpg',
		title: 'Берлин',
		text: 'Ни&nbsp;одна деталь не&nbsp;будет лишней,<br>у&nbsp;каждой мелочи&nbsp;&mdash; свой функционал, только простые и&nbsp;лаконичные формы.'
	})
	+sBerlinContentBody
	+sCards
	+secondScreen('true')
	//- +sContact()
	
	+footer()
	+orderProject()


