extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sHavanaContentHead/_sHavanaContentHead.pug
include ../blocks/sHavanaContentBody/_sHavanaContentBody.pug
include ../blocks/sMenu/_sMenu.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= '03-content-berlin.jpg'

block title
	- let  title= 'Гавана'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
	//- +topLine
	+top-nav()
	//- +headerBlock
	+page-head({
		img: 'header-bg-5.jpg',
		title: 'Амстердам',
		text: 'Он&nbsp;соединяет в&nbsp;себе элементы минимализма, футуризма, модерна и<br>неоклассики.'
	})
	+sMenu
	+fullPageImg('sAmsterdamContent-img-1.jpg')
	+sCards
	+secondScreen('true')
	//- +sContact()
	
	+footer()
	+orderProject()


