extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sHavanaContentHead/_sHavanaContentHead.pug
include ../blocks/sHavanaContentBody/_sHavanaContentBody.pug
include ../blocks/sMenu/_sMenu.pug
include ../blocks/am-content1/_am-content1.pug
include ../blocks/am-content2/_am-content2.pug

block variables
	- let  mainPage= 'inner-page page-amsterdam' 
	- let  bg= '03-content-berlin.jpg'

block title
	- let  title= 'Гавана'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
	//- +topLine
	+top-nav()
	//- +headerBlock
	+b.preload-block--head 
		+e.slide--dark

	+page-head({
		img: 'header-bg-5.jpg',
		title: 'Амстердам',
		text: 'Он&nbsp;соединяет в&nbsp;себе элементы минимализма, футуризма, модерна и<br>неоклассики.'
	})
	+sMenu
	+am-content1
	+b.img-wrap-full
		+b.preload-block
			+e.slide
		+img('am-3.jpg').w-100
	+am-content2
	+b.img-wrap-full
		+b.preload-block
			+e.slide
		+img('am-5.jpg').w-100
	+am-content22
	+fullPageImg('sAmsterdamContent-img-1.jpg')
	+sCards
	+secondScreen('true')
	//- +sContact()
	
	+footer()
	+orderProject()


