extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sAmericanContent/_sAmericanContent.pug
include ../blocks/sAmericanBody/_sAmericanBody.pug
include ../blocks/sMenu/_sMenu.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= '06-content-stockholm.jpg'

block title
	- let  title= 'Американская классика'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
	//- +topLine
	+top-nav()
	//- +headerBlock
	+page-head({
		img: 'sAmerican-img-1.jpg',
		title: 'Американская классика',
		text: 'Хорошая новость: интерьер из&nbsp;любимого фильма может перенестись с&nbsp;экраном<br>прямо к&nbsp;вам. Это американская классика, которую теперь можно воплотить в<br>реальность'
	}).bg-gradient
	//- +sMenu
	+sAmericanContent
	+sAmericanBody
	+sAmericanContent2
	+sAmericanContent3
	+sAmericanBody2
	+sAmericanContent4
	+sAmericanBody3
	+sAmericanContent5
	+sCards
	+secondScreen('true')
	//- +sContact()
	
	+footer()
	+orderProject()


