extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sCards/_sCards.pug
include ../blocks/sPetersburgInfo/_sPetersburgInfo.pug
include ../blocks/sPetersburgText/_sPetersburgText.pug

block variables
	- let  mainPage= 'inner-page' 
	- let  bg= '06-content-stockholm.jpg'

block title
	- let  title= 'Санкт-Петербург'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
	//- +topLine
	+top-nav()
	//- +headerBlock
	+page-head({
		img: 'saint-petersburg-img-1.jpg',
		title: 'Санкт-Петербург',
		text: 'Современный петербургский дизайн простой, лаконичный и аккуратный.'
	}).petersburg-bg
	+sPetersburgInfo('2', '3', 'Интерьер современной питерской квартиры&nbsp;&mdash; это классика на&nbsp;новый лад.<br>Если в&nbsp;исторических зданиях высокие потолки и&nbsp;богато украшенные колонны были основными акцентами, то&nbsp;теперь помпезность отошла в&nbsp;сторону, уступив простым и&nbsp;функциональным элементам. Конечно, вековую лепнину на&nbsp;потолке никуда не&nbsp;деть, но&nbsp;новые квартиры так уже не&nbsp;украшают. Современный петербургский дизайн простой, лаконичный и&nbsp;аккуратный. Массивные люстры заменяем стильными и&nbsp;тонкими, винтажные ковры&nbsp;&mdash; мягкими, а&nbsp;каменные конструкции более легкими.')
	+sPetersburgInfo2('4', 'В&nbsp;интерьере используются простые цвета. Несмотря на&nbsp;это, внутреннее обустройство не&nbsp;перенимает пасмурное настроение улицы и&nbsp;остается теплым и&nbsp;уютным. Теплые пастельные тона делают интерьер мягким и&nbsp;обволакивающим. В&nbsp;такой обстановке приятно работать и&nbsp;проводить время вместе с&nbsp;родными. Материалы тоже используются &laquo;теплые&raquo;&nbsp;&mdash; дерево, паркетная доска, плотные хорошо драпирующиеся ткани. Сочетание теплых и&nbsp;холодных оттенков уравновешивает интерьер и&nbsp;создает гармоничную обстановку.')
	+sPetersburgInfo('5', '6', 'Именно в&nbsp;такой простоте и&nbsp;кроется главная сложность в&nbsp;создании интерьера в&nbsp;стиле Санкт-Петербурга. Мы&nbsp;привыкли думать, что питерская квартира&nbsp;&mdash; это роскошь и&nbsp;помпезность, но&nbsp;на&nbsp;самом деле это сочетание европейской утонченности, финского минимализма и&nbsp;нашей тяги к&nbsp;украшательству. Найти грань между сочетанием этих деталей под силу только профессиональным дизайнерам.')
	+sPetersburgText('text', '10')
	+sPetersburgInfo('7', '8', 'Но&nbsp;даже после того, как проект будет разработан, вы&nbsp;все еще можете потратить свое время на&nbsp;что-то более приятное и&nbsp;полезное, чем ремонтные хлопоты. Наша команда рассчитает необходимые траты, составит список нужных материалов и&nbsp;сама проведет все закупки. Материалы будут доставляться поэтапно в&nbsp;указанный срок&nbsp;&mdash; график закупки, доставки и&nbsp;всех работ мы&nbsp;тоже составим сами. Наши строители сделают качественную отделку помещения, и&nbsp;вы&nbsp;сможете почувствовать питерский дух даже в&nbsp;Москве.')
	+sPetersburgInfo2('9', 'Расчет стоимости производится до&nbsp;начала работ, и&nbsp;именно эту сумму мы&nbsp;внесем в&nbsp;договор. Никакие дополнительные траты на&nbsp;&laquo;всплывут&raquo; посреди работ, можете полагаться на&nbsp;нашу честность и&nbsp;профессионализм.<br>Впустите Северную Пальмиру в&nbsp;свой дом')
	+sPetersburgText('', '11')
	+sCards
	+secondScreen('true')
	//- +sContact()
	
	+footer()
	+orderProject()


