extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/sMenu/_sMenu.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sAboutCompanyInfo/_sAboutCompanyInfo.pug
include ../blocks/sAboutCompanyPersons/_sAboutCompanyPersons.pug
include ../blocks/404block/_404block.pug
include ../blocks/sMenu/_sMenu.pug

block variables
	- let  mainPage= 'сontacts-page' 
	- let  bg= '13-сontacts.jpg'

block title
	- let  title= 'Контакты'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	.title-wrap
		h1!= title
	+sContact()
	+sMenu
	+footer().--contacts

