extends ../layout/main.pug

include ../blocks/header/_header.pug
//- include ../blocks/topLine/_topLine.pug
include ../blocks/sMenu/_sMenu.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sAboutCompanyInfo/_sAboutCompanyInfo.pug
include ../blocks/sAboutCompanyPersons/_sAboutCompanyPersons.pug
include ../blocks/404block/_404block.pug
include ../blocks/sMenu/_sMenu.pug
include ../blocks/sConditions/_sConditions.pug
include ../blocks/sConditionsSlider/_sConditionsSlider.pug

block variables
	- let  mainPage= '' 
	- let  bg= ''

block title
	- let  title= 'Условия работы'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+sMenu
	+page-head({
		img: 'sConditions-img-2.jpg',
		title,
		text: 'Благодаря четкому графику и&nbsp;своевременному поступлению материалов,<br>контроль этапов в&nbsp;личном кабинете.'
	}).page-head--conditions
	+sConditions
	+sConditionsSlider
	+footer()

