.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary); 
	// 
	// position: absolute;
	left: 0;
	width: 100%;
	z-index: 500;
	bottom: 0;
	z-index: 1010;
	
	@include media-breakpoint-up(md) {
		--top: #{rem(15.8)};
		top:  var(--top);

	}
	@include media-breakpoint-down(md) {
		position: fixed; 
		background-color: $white;
		box-shadow: 0px 2px 8px rgba(152, 152, 152, 0.2);
		height: rem(48);
	}
	// top: 0;
	@include mt(1s);
	// .h2 {
	// 	@include mt;
	// 	color: $white;
	// 	margin-bottom: 0;
	// 	opacity: 1;
	// }
	.logo {
		width: rem(123);
		padding: rem(11);
		display: block;
		text-align: center;
		svg {
			width: rem(90);
			height: rem(20);
			@include media-breakpoint-up(md) {
				[fill="black"] {
					fill: $white !important;
				}
			}
		}
	}
	&__col {
		.toggle-menu-mobile {
			@include media-breakpoint-up(md) {
				margin-left: auto;
			}
		}
	}
	// .container-fluid {
	// 	--bs-gutter-x: #{rem(24)};
	// }
	@include media-breakpoint-up(md) {
		// --scrollPos: 25%;
		// transform: translateY(15.800px);
		&.fixed:not(.active){

			@include media-breakpoint-up(md) {
			// transform: translateY(calc(-100% - var(--top)));
			
		}
		}
		position: fixed;
		&.fixed{
			animation: upDown 1s 1 ease-in-out;
		
		}
		// top: 0;
	}
	// transform: translateY(15.800px);
	&.active {
		.toggle-menu-mobile{
			animation-delay: 1s;
			animation: opacityToggle 1s 1 ease-in-out;
		}
		@include media-breakpoint-up(md) {
			// transform: translateY(15.800px);
			.logo {
				background-color: $white;
				// box-shadow: 3px 4px 7px 0px #00000091;
				padding: 11px;
				border-radius: 21px;
				svg {
					[fill="black"] {
						fill: black !important;
					}
				}
			}
			.toggle-menu-mobile {
				// box-shadow: 3px 4px 7px 0px #00000091;
			}
		}
		.h2 {
			opacity: 0;
		}
	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}




@keyframes upDown {
  0% {transform: translateY(0)} 
  50% {transform: translateY(calc(-100% - var(--top)));} 
  100%{transform: translateY(0)}
}
@keyframes opacityToggle {
  // 0% {opacity: 1;} 
  0% {opacity: 0} 
  100%{opacity: 1}
}