 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}

.page-head {
	// position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc( var(--vh) * 100);
	display: flex;
	align-items: flex-end;
	color: $white;
	// position: relative;
	text-align: center;
	z-index: -1;
	picture{

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 44.11%);
		}
	}
	&__container {
		z-index: 2;
	}
	&__title {
		margin-bottom: rem(9.6);
	}
	&__subtitle {
		padding-bottom: rem(128);
		line-height: 1.33em;
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(55.4);
			font-size: rem(18);
		}
	}
	&.bg-gradient {
		picture:after {
			background-image: linear-gradient(180deg, rgba(103, 97, 96, 0.1) 0%, rgba(103, 97, 96, 0.45) 100%);
		}
	}
	&.petersburg-bg {
		picture:after {
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 91.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
		}
	}
	&--conditions {
		picture:after {
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(73, 50, 14, 0.2), rgba(73, 50, 14, 0.2));
		}
	}
}

// .main-wrapper {
// 	margin-top: 100vh;
// }


.orderProject {
	@include mt;
	box-shadow: 0px 1px 8px rgba(105, 105, 105, 0.4);
	border-radius: 8px;
	width: 100%;
	max-width: rem(266);
	position: fixed;
	left: 50%;
	transform: translateX(-50%) translateY(275%);
	bottom: rem(16);
	z-index: 16;
	background-color: $white;
	&.visible {
		transform: translateX(-50%) translateY(0);
	}
	&:hover {
		box-shadow: 0px 0px 0px transparent;
		background-color: $body-color;
		color: $white;
	}
	@include media-breakpoint-down(md) {
		bottom: rem(57);
	}
}

.menu {
	flex-direction: column;
}

.applicationSent {
	@include mt;
	position: fixed;
	right: rem(24);
	bottom: rem(24 + 56);
	display: flex;
	background-color: $white;
	border-radius: rem(8);
	border: 1px solid #E3E7EC;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
	padding: rem(12);
	z-index: 22;
	margin-left: rem(16);
	transform: translateX(200%);
	@include media-breakpoint-up(md) {
		width: 100%;
		max-width: rem(372);
		margin-left: 0;
		bottom: rem(40);
		align-items: center;
	}
	.icon {
		font-size: rem(24);
		&-info {
			margin-right: rem(4);
			@include media-breakpoint-down(md) {
				min-width: rem(24);
			}
		}
		&-cross {
			color: #999EAB;
		}
	}
	&__text {
		font-size: rem(16);
		margin-bottom: 0;
		flex-grow: 1;
	}
	&.active {
		transform: translateX(0);
	}
}

.img-wrap-js {
	overflow: hidden;
	picture {
		@include block(1280, 768);
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}