include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin logo()
	a.logo(href="/")
		<svg width="77" height="16" viewBox="0 0 77 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M39.1596 0L27.3044 0.0013836V4.16188H39.1596V0Z" fill="black"/>
			<path d="M36.5943 5.91906H27.3044V10.0809H36.5943V5.91906Z" fill="black"/>
			<path d="M39.1596 11.8381V16L27.3044 15.9986V11.8381H39.1596Z" fill="black"/>
			<path d="M69.8677 0H65.3077V5.91906H69.8677V0Z" fill="black"/>
			<path d="M65.3077 16V10.0809H69.8677V11.6008H77.0002V15.9945L65.3077 16Z" fill="black"/>
			<path d="M4.7681 10.0809H0.200195V16H4.7681V10.0809Z" fill="black"/>
			<path d="M0.200195 0H4.7681V5.91906H0.200195V0Z" fill="black"/>
			<path d="M42.6624 16H61.8042L58.2641 10.0809H46.2032L42.6624 16Z" fill="black"/>
			<path d="M52.2333 0L55.7741 5.91906H48.6925L52.2333 0Z" fill="black"/>
			<path d="M15.4084 0.00553442V0H9.22347V4.18333H9.23637V4.78519H15.1546C16.1717 4.78519 17.082 5.22587 17.6934 5.91906H23.1752C22.2455 2.58111 19.1355 0.107229 15.4084 0.00553442Z" fill="black"/>
			<path d="M23.1745 10.0809C22.2441 13.4189 19.1348 15.8935 15.4077 15.9945V16H9.22491L9.22276 11.8167H9.23566V11.2176H15.1539C16.1732 11.2176 17.0842 10.7762 17.6956 10.0809H23.1745Z" fill="black"/>
		</svg>

mixin page-head(data)
	+b.page-head.bg-wrap&attributes(attributes)
		+img(`${data.img}`, 'bg').picture-bg
		+e.container.container.animate__animated.animate__fadeInUp
			+e.title.h1!= data.title
			+e.P.subtitle!= data.text

mixin secondScreen(showMore)
	+b.secondScreen.bg-wrap
		if showMore
			+e.titleMore.h5 Посмотреть другие стили
		+e.slider--js.swiper
			.swiper-wrapper
				-for(i=0; i<3; i++)
					+e.slide.swiper-slide
						+img('header-bg-2.jpg', 'bg').picture-bg
						.container
							+b.section-title--js2.text-center
								h2 Берлин 
									= i
								p Ни&nbsp;одна деталь не&nbsp;будет лишней, у&nbsp;каждой мелочи&nbsp;&mdash; свой функционал, только простые и&nbsp;лаконичные формы.
								a(href="#").btn.btn-outline-primary Подробнее
			+arrow()
			.swiper-pagination

mixin orderProject()
	button.orderProject.btn Заказать дизайн-проект

mixin applicationSent()
	+b.applicationSent
		+icon('info')
		+e.P.text Ваша заявка успешно отправлена
		a(href="#")
			+icon('cross')