mixin sBerlinContentBody(data)
	// start sBerlinContentBody
	+b.sBerlinContentBody.section#sBerlinContentBody&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+pic('sBerlinContentBody-img-1.jpg', 'bg').vertical
				.col-lg-6.align-self-center
					p.h6 Представьте, что вы живете в черной квартире. У вас темная мебель, обои, плитка - даже постельное белье и то темное. Какое настроение у вас создается? Если вы помрачнели, спешим вас обрадовать: интегрировать черный в интерьер проще, чем кажется. Не верите? Тогда #[a(href="#") вам стоит познакомиться с берлинским стилем.]
				.col-12
					+pic('sBerlinContentBody-img-2.jpg', 'bg').horizontal
	// end sBerlinContentBody