mixin sBerlinContentBody(data)
	// start sBerlinContentBody
	+b.sBerlinContentBody.section#sBerlinContentBody&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-1.jpg', 'bg').vertical
				.col-lg-6.align-self-center.wow.animate__fadeInUp
					p Представьте, что вы живете в черной квартире. У вас темная мебель, обои, плитка - даже постельное белье и то темное. Какое настроение у вас создается? Если вы помрачнели, спешим вас обрадовать: интегрировать черный в интерьер проще, чем кажется. Не верите? Тогда #[a(href="#") вам стоит познакомиться с берлинским стилем.]
				.col-12.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-2.jpg', 'bg').horizontal
				.col-lg-6.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-3.jpg', 'bg').vertical
				.col-lg-6.align-self-center.wow.animate__fadeInUp
					p Немцы известны нам своей скрупулезностью и&nbsp;педантичностью. Именно #[a(href="#") минимализм стал основой стиля Берлина в&nbsp;дизайне интерьера.] Ни&nbsp;одна деталь не&nbsp;будет лишней, у&nbsp;каждой мелочи&nbsp;&mdash; свой функционал, только простые и&nbsp;лаконичные формы.
				+e.col-img-vertical.col-lg-6.align-self-center.wow.animate__fadeInUp
					p Начнем с&nbsp;цвета. Здесь #[a(href="#") преобладает черный.] Это универсальный цвет, который помогает управлять пространством. Не&nbsp;бойтесь, что он&nbsp;&laquo;украдет&raquo; у&nbsp;вас пространство: при правильной расстановке акцентов и&nbsp;сочетании с&nbsp;контрастными цветами оттенки черного сделают помещение просторным так&nbsp;же, как на&nbsp;это способны другие стили.
				+e.col-img-vertical.col-lg-6.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-4.jpg', 'bg').vertical
				+e.col-img-horizontal.col-12.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-5.jpg', 'bg').horizontal
				.col-lg-6.align-self-center.wow.animate__fadeInUp
					p #[a(href="#") Дело в&nbsp;деталях.] В&nbsp;берлинском стиле не&nbsp;будет висящих на&nbsp;стенах картин, больших абажуров и&nbsp;диванных подушек. Если уж&nbsp;и&nbsp;расставлять акценты, то&nbsp;точечно: стильными минималистичными лампами, бетонными горшками для цветов, небольшими классическими скульптурами и&nbsp;статуэтками.
				.col-lg-6.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-6.jpg', 'bg').vertical
				+e.col-img-vertical.col-lg-6.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-7.jpg', 'bg').vertical
				+e.col-img-vertical--last.col-lg-6.align-self-center.wow.animate__fadeInUp
					p С&nbsp;черным можно напортачить и&nbsp;вместо роскошного и&nbsp;аристократичного оформления квартиры получить &laquo;дешевое&raquo; помещение без намека на&nbsp;фантазию или вкус. #[a(href="#") Лучше всего доверить такое оформление специалистам.] Дизайнеры умеют правильно выбирать оттенки черного и&nbsp;сочетать их&nbsp;с&nbsp;верными контрастами. Опытный дизайнер знает, как соединить камень и&nbsp;дерево так, чтобы они не&nbsp;перегружали обстановку и&nbsp;выглядели гармонично. Мы&nbsp;знаем все о&nbsp;дизайне и&nbsp;ремонте и&nbsp;реализуем проекты &laquo;под ключ&raquo;. Наши дизайнеры отличают &laquo;правильный&raquo; черный для берлинского стиля от&nbsp;&laquo;неправильного&raquo;, мы&nbsp;сами найдем для вас ту&nbsp;самую мебель, а&nbsp;наши строители бережно и&nbsp;в&nbsp;срок справятся с&nbsp;отделкой помещения.
				+e.col-img-horizontal.col-12.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-5.jpg', 'bg').horizontal
				.col-lg-6.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-8.jpg', 'bg').vertical
				.col-lg-6.align-self-center.wow.animate__fadeInUp
					p #[a(href="#") Вы&nbsp;запрашиваете&nbsp;&mdash; мы&nbsp;делаем, мы&nbsp;предлагаем&nbsp;&mdash; вы&nbsp;утверждаете.] График работ, составление сметы, поэтапное планирование, закупки, логистика и&nbsp;контроль выполнения работ&nbsp;&mdash; за&nbsp;все это будем отвечать&nbsp;мы, а&nbsp;вы&nbsp;сможете потратить свое время на&nbsp;более важные дела.
				+e.col-img-vertical.col-lg-6.align-self-center.wow.animate__fadeInUp
					p В&nbsp;составленном договоре мы&nbsp;пропишем не&nbsp;только все основные задачи, но&nbsp;и&nbsp;стоимость работ&nbsp;&mdash; цена останется неизменной. После окончания ремонта не&nbsp;окажется, что нужно доплатить еще и&nbsp;за&nbsp;мебель или другие мелочи: мы&nbsp;работаем честно и&nbsp;сразу оговариваем необходимую сумму. В&nbsp;нее входит в&nbsp;том числе сантехника и&nbsp;ее&nbsp;установка Перед тем, как доверить нам вашу квартиру, можно сделать предварительный расчет стоимости будущего проекта.
				+e.col-img-vertical.col-lg-6.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-6.jpg', 'bg').vertical
				+e.col-img-horizontal.col-12.wow.animate__fadeInUp
					+pic('sBerlinContentBody-img-9.jpg', 'bg').horizontal
	// end sBerlinContentBody