mixin sMenu(data)
	// start sMenu
	+b.sMenu.menu-mobile--js#sMenu&attributes(attributes)
		.container
			+b.section-title.text-center
				h4 Готовые решения
			+e.row.row.justify-content-around.flex-grow-1
				.col-auto
					a(href="#")
						+e.wrap
							+pic('menu-img-1.jpg')
							h6 Американская классика
				.col-auto
					a(href="#")
						+e.wrap
							+pic('menu-img-2.jpg')
							h6 Амстердам
				.col-auto
					a(href="#")
						+e.wrap
							+pic('menu-img-3.jpg')
							h6 Берлин
				.col-auto
					a(href="#")
						+e.wrap
							+pic('menu-img-4.jpg')
							h6 Гавана
				.col-auto
					a(href="#")
						+e.wrap
							+pic('menu-img-5.jpg')
							h6 Париж
				.col-auto
					a(href="#")
						+e.wrap
							+pic('menu-img-6.jpg')
							h6 Стокгольм
				.col-auto
					a(href="#")
						+e.wrap
							+pic('menu-img-7.jpg')
							h6 Санкт-Петербург
			.row
				.col asdasdasd
	// end sMenu