mixin menu-item(i, t)
	+e.col.col
		+e.item.bg-wrap(href="#")
			+pic(`menu-img-${i}.jpg`, 'bg').picture-bg
			.h6!= t

mixin sMenu(data)
	// start sMenu
	+b.sMenu(class="menu-mobile--js")#sMenu&attributes(attributes)
		.container
			+b.section-title.text-center
				.h4 Готовые решения
			+e.row.row
				+menu-item(1, 'Американская классика')
				+menu-item(2, 'Амстердам')
				+menu-item(3, 'Берлин')
				+menu-item(4, 'Гавана')
				+menu-item(5, 'Париж')
				+menu-item(6, 'Стокгольм')
				+menu-item(7, 'Санкт-Петербург')
		.container
			+e.row-footer.row
				.col-12.col-lg
					+mnu()
				.col-12.col-lg.text-lg-right
					+e.btn--call(href="tel:89000000000")
						+icon('phone-call')
						| 8 900 000-00-00
				.col-12.col-lg-auto
					+e.btn--request(href="#")
						+icon('pencil')
						| Оставить заявку
	// end sMenu