// start .sMenu
.sMenu {
	--sPT: #{rem(38.987)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	overscroll-behavior: contain;
	@include mt;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #3D3D3D;
	z-index: 1009;
	// transform: translateY(-100%);
	overflow-y: auto;
	@include media-breakpoint-up(lg) {
		padding-bottom: rem(25);
	}
	@include media-breakpoint-up(md) {
		padding-bottom: rem(71);
	}
	padding-bottom: rem(199);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__row{
		--bs-gutter-x: #{rem(9)};
		--bs-gutter-y: var(--bs-gutter-x);
		padding-bottom: rem(40);
	}
	&__row-footer {
		align-items: flex-end;

	}
	.section-title{
		color: $white;
		margin-top: rem(25);
	}
	&__col{
		@include media-breakpoint-down(lg) {
			min-width: calc(100% / 4);
		}
		@include media-breakpoint-down(md) {
			min-width: calc(100% / 2);
		}
		@include media-breakpoint-up(lg) {
			width: calc(100% / 7);
		}
	}
	&__item {
		position: relative;
		display: block;
		@include mt;
		@include block(168, 161);
		border-radius: rem(12);
		overflow: hidden;
		@include media-breakpoint-down(lg) {
			--ratio: 80/161;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
		picture {
			&:after {
				@include mt;
				position: absolute;
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				left: 0;
				bottom: 0;
				background-image: linear-gradient(180deg, transparent 0%, transparent 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
				z-index: 1;
			}
		}
		&:after {
			@include mt;
			position: absolute;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			bottom: 0;
			background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
			z-index: 1;
			opacity: 0;
		}
		.h6 {
			position: absolute;
			bottom: rem(8);
			left: rem(7);
			margin-bottom: 0;
			color: $white;
			max-width: rem(168);
			z-index: 2;
		}
	}
	&__btn {
		color: $white;
		display: block;
		&--call {
			@extend .h6;
			line-height: 1.26em;
			text-align: center;
			color: $white;
			padding: rem(7) rem(44) rem(9) rem(38);
			border: 1px solid $white;
			border-radius: rem(8);
			margin-bottom: rem(12);
			.icon {
				font-size: rem(20);
				margin-right: rem(10);
			}
			@include media-breakpoint-up(lg) {
				padding: unset;
				border-radius: 0;
				border: none;
				margin-bottom: rem(9);
				text-align: right;
			}
		}
		&--request {
			border: 1px solid $white;
			font-weight: 700;
			font-size: rem(16);
			line-height: 1.50em;
			padding: rem(7) rem(44) rem(9) rem(38);
			border-radius: rem(8);
			background-color: $white;
			color: $black;
			text-align: center;
			.icon {
				font-size: rem(16);
				margin-right: rem(8);
			}
			@include media-breakpoint-up(lg) {
				background-color: transparent;
				color: $white;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sMenu

.text-lg-right {
	@include media-breakpoint-up(lg) {
		text-align: right;
	}
}