mixin sPetersburgText(text, num)
	// start sPetersburgText
	+b.SECTION.sPetersburgText.section#sPetersburgText&attributes(attributes)
		.container
			if text
				p.text-center Специалисты помогут сделать помещение светлым, но&nbsp;не&nbsp;пустым; простым, но&nbsp;не&nbsp;унылым. В&nbsp;питерском стиле можно оформить даже самую маленькую квартиру&nbsp;&mdash; уж&nbsp;там-то точно все знают о&nbsp;зонировании небольших помещений. Дизайнеры могут предложить самую аутентичную и&nbsp;функциональную мебель, подходящие осветительные приборы и&nbsp;декор. Вам не&nbsp;придется думать, как разместить обеденный стол и&nbsp;барные стулья, если вы&nbsp;доверите эту работу дизайнерам.<br>Чтобы не&nbsp;ломать голову над сложными вариантами отделки и&nbsp;не&nbsp;тратить время на&nbsp;поездки ради поиска необходимой столешницы, закажите дизайн-проект &laquo;под ключ&raquo;. Команда профессионалов сделает работу за&nbsp;вас и&nbsp;для вас. Мы&nbsp;разработаем дизайн и&nbsp;согласуем его с&nbsp;вами. Поверьте&nbsp;&mdash; стиль Санкт-Петербурга мы&nbsp;передадим на&nbsp;все 100%!
		+pic(`saint-petersburg-img-${num}.jpg`, 'bg')
	// end sPetersburgText