mixin sHavanaContentBody(data)
	// start sHavanaContentBody
	+b.sHavanaContentBody.section#sHavanaContentBody&attributes(attributes)
		.container
			+e.P.text.wow.animate__fadeInUp Для отделки квартиры в&nbsp;этом стиле используют натуральные материалы, а&nbsp;также&nbsp;те, которые не&nbsp;отвлекают на&nbsp;себя слишком много внимания. Основные материалы здесь&nbsp;&mdash; дерево, стекло и&nbsp;камень. Плетеные стулья изящно сочетаются со&nbsp;стеклянными столами с&nbsp;металлической основой; каменная столешница вступает в&nbsp;лаконичный тандем с&nbsp;деревянными барными стульями. Яркие диваны соседствуют с&nbsp;классическими пуфами и&nbsp;креслами, а&nbsp;комнатные растения создают атмосферу Острова Свободы прямо у&nbsp;вас дома.
		+e.img-wrap
			+pic('sHavanaContent-img-4.jpg', 'bg')
		+e.imageSlider
			+e.slide: +img('sHavanaContent-img-5.jpg')
			+e.slide: +img('sHavanaContent-img-6.jpg')
		.container
			+e.P.text.wow.animate__fadeInUp Предупреждаем: с&nbsp;гаванским интерьером это будет непросто. В&nbsp;нем много деталей, которые не&nbsp;найдешь в&nbsp;обычном магазине для обустройства дома. Взять те&nbsp;же бумажные абажуры или плетеные стулья&nbsp;&mdash; часто&nbsp;ли вы&nbsp;встречаете их&nbsp;в&nbsp;одном месте? Не&nbsp;специалисту будет трудно найти интерьерные поп-арт картины, чтобы они хорошо вписывались в&nbsp;будущую отделку пространства. Впрочем, если с&nbsp;деталями еще можно разобраться по&nbsp;ходу дела, то&nbsp;основные материалы тоже прибавят головной боли. Чтобы найти каменную раковину, цветную плитку для столовой и&nbsp;кровать с&nbsp;плетеной спинкой, придется объездить не&nbsp;один десяток магазинов. У&nbsp;вас наверняка нет на&nbsp;это времени .
		+e.content-pic
			+pic('sHavanaContent-img-7.jpg').picture-1
			+pic('sHavanaContent-img-8.jpg').picture-2
		+e.content
			.container
				+e.P.text--white.wow.animate__fadeInUp Доверьте нам дизайн и&nbsp;ремонт квартиры &laquo;под ключ&raquo;. Полностью проработанный от&nbsp;и&nbsp;до&nbsp;проект не&nbsp;будет отрывать вас от&nbsp;работы или других важных дел&nbsp;&mdash; вам нужно будет только утвердить его, а&nbsp;дальше мы&nbsp;возьмем все на&nbsp;себя. Наши дизайнеры продумают стиль помещения до&nbsp;мелочей, мы&nbsp;сами закупим все материалы, а&nbsp;компетентные строители сделают всю работу качественно и&nbsp;в&nbsp;срок. Мы&nbsp;составим график работ, за&nbsp;которым вы&nbsp;сможете следить в&nbsp;личном кабинете, и&nbsp;всегда будем на&nbsp;связи, если у&nbsp;вас появятся вопросы. После детального обмера помещения все расчеты мы&nbsp;сделаем сами, но&nbsp;предоставим вам всю информацию по&nbsp;работам, не&nbsp;скроем ни&nbsp;одной детали. Вы&nbsp;можете быть уверены в&nbsp;нашей честности и&nbsp;в&nbsp;том, что скоро ваша квартира в&nbsp;стиле Гаваны будет готова принять своих жильцов! При этом вы&nbsp;не&nbsp;станете тратить свое время, а&nbsp;просто будете наслаждаться новым интерьером.
		//- +e.img-wrap-js
		//- 	+pic('sHavanaContent-img-9.jpg', 'bg')
	// end sHavanaContentBody