mixin sHavanaContentBody(data)
	// start sHavanaContentBody
	+b.SECTION.sHavanaContentBody.section#sHavanaContentBody&attributes(attributes)
		.container
			+e.P.text.wow.animate__animated.animate__fadeInUp Для отделки квартиры в&nbsp;этом стиле используют натуральные материалы, а&nbsp;также&nbsp;те, которые не&nbsp;отвлекают на&nbsp;себя слишком много внимания. Основные материалы здесь&nbsp;&mdash; дерево, стекло и&nbsp;камень. Плетеные стулья изящно сочетаются со&nbsp;стеклянными столами с&nbsp;металлической основой; каменная столешница вступает в&nbsp;лаконичный тандем с&nbsp;деревянными барными стульями. Яркие диваны соседствуют с&nbsp;классическими пуфами и&nbsp;креслами, а&nbsp;комнатные растения создают атмосферу Острова Свободы прямо у&nbsp;вас дома.
		+e.img-wrap
			+pic('sHavanaContent-img-4.jpg', 'bg')
	// end sHavanaContentBody