// start .sHavanaContentBody
.sHavanaContentBody {
	--sPT: #{rem(65)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	background-color: #FBF6ED;
	@include media-breakpoint-up(lg) {
		// --sPT: #{rem(700)};
	}
	
	&__text {
		font-size: rem(18);
		line-height: 1.33em;
		padding-bottom: rem(56);
		margin-bottom: 0;
		max-width: rem(749);
		@include media-breakpoint-down(sm) {
			font-family: 'Roboto';
		}
		&--white {
			color: $white;
		}
	}
	&__img-wrap {
		picture {
			@include block(1280, 768);
			overflow: hidden;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__slide{

		width: rem(397);
		max-width: 100%;
		@include media-breakpoint-down(sm)  {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}
		@include block(397, 490);
		
		overflow: hidden;
		img{
			object-fit: cover;
			@include a-cent;
			width: 100%;
			height: 100%;
		}
	}
	&__imageSlider {
		padding: rem(40) 0;
		@include media-breakpoint-up(lg) {
			@include roww(36px, m);
			padding: rem(89) 0 rem(77);
		}
		@include media-breakpoint-up(sm){
			display: flex;

		}
		@include media-breakpoint-down(sm){
			text-align: center;
		} 
	}
	&__content-pic {
		position: relative;
		z-index: 2;
		&::before{
			content: '';
			z-index: -1;
			background-color: #5A6849;
			position: absolute;
			width: 100%;
			height: 50%;
			bottom: 0;
			right: 0;
		}
		@include media-breakpoint-up(lg) {
			width: 100%;
			justify-content: space-between;
			display: flex;
			align-items: center;
			// padding-bottom: rem(350);
		}
		.picture-1 {
			@include block(360, 422);
			overflow: hidden;
			text-align: center;
			@include media-breakpoint-up(lg) {
				--ratio: 975/930;
				width: calc((830 / 1280 * 100%));
			}
		}
		.picture-2 {
			@include media-breakpoint-up(lg) {
				
				--ratio: 688 / 552;
				width: calc((552 / 1280 * 100%));
				margin-left: -10%;
				margin-right: 0;
				margin-top: 0;
			}
			margin-top: -25%;
			margin-left: 16px;
			margin-right: 16px;
			@include block(328, 408);
			
		}
		picture {
			overflow: hidden;
			object-fit: cover;
			position: relative;
			img{
				@include a-cent;
				width: 100%;
				height: 100%;
			}
			@include media-breakpoint-up(lg) {
				// transform: scale(1.2);
				// position: absolute;
				// 
				z-index: 15;
				// bottom: -50%;
				// transform: translateY(50%);
			}
		}
	}
	
	&__content {
		// padding-top: rem(130);
		background-color: #5A6849;
		padding-top: rem(40);
		@include media-breakpoint-up(lg) {
			// padding-top: rem(690);
			padding-top: rem(95);
		}
		picture {
			overflow: hidden;
		}
	}
	// &__img-wrap-js {
	// 	overflow: hidden;
	// 	picture {
	// 		@include block(1280, 768);
	// 		overflow: hidden;
	// 		img {
	// 			position: absolute;
	// 			top: 0;
	// 			left: 0;
	// 			width: 100%;
	// 			height: 100%;
	// 		}
	// 	}
	// }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sHavanaContentBody