mixin am-content1(data)
	// start am-content1
	+b.am-content1.section&attributes(attributes) 
		.row.g-0
			+e.col--sm.col-md-auto.col-aside
				+b.am-text--first-symbol
					.wow.fadeInUp: p О сновная черта амстердамского стиля - эклектика. Он соединяет в себе элементы минимализма, футуризма, модерна и неоклассики. Плавные формы в сочетании с резкими гранями, нейтральные цвета с яркими броскими акцентами, хай-тек с классикой - вряд ли где-то еще вы найдет такое сочетание несочетаемого. 
				+e.img-wrap--sm
					+b.preload-block
						+e.slide
					+img('am-1.jpg')
			+e.col.col
				+e.img-wrap--lg
					+b.preload-block
						+e.slide
					+img('am-2.jpg')
				+b.am-text--dark
					.wow.fadeInUp: p Несмотря на сочетания течений, в голландском стиле хорошо прослеживается стремление к простоте. Здесь мало принтов и декора в привычном его виде. Перегруженности деталями нет, господствует минимализм, но не такой, который присущ берлинскому стилю. Это сочный и яркий минимализм, в котором детали играют большую роль, чем оформление в целом. 
			.col-12
			+e.col--color.--lg.col-lg-auto
			//- +e.col.--sm.col-md-auto.d-none.d-lg-block
	
	// end am-content1